---
import { Image } from "astro:assets";
import top_back_light from "../../assets/top_back_light.png";
import top_logo from "../../assets/top_logo.svg";
import recent_products_light from "../../assets/recent_products_light.png";
import recent_preview from "../../assets/cxpreview.png";
import astrobox_logo from "../../assets/ab.svg";
import card_rrx from "../../assets/card-rrx.png";
import card_wing from "../../assets/card-wing.png";
import card_github from "../../assets/card-github.png";
import card_gitee from "../../assets/card-gitee.png";
import gogogo from "../../assets/go.svg";
---

<div class="container-top">
    <h1 class="top-content">
        我们是 WaterFlames，<br />在各个领域探索无限的可能性。
    </h1>
    <Image
        src={top_back_light}
        alt=""
        fetchpriority="high"
        class="top-back"
        draggable="false"
    />
    <div class="top-nav">
        <Image
            src={top_logo}
            alt=""
            fetchpriority="high"
            class="top-logo"
            draggable="false"
        />
        <a href="https://docs.waterflames.cn/" target="_blank">/ 文档</a>
    </div>
</div>
<div class="container-recent">
    <div class="recent-content" style="z-index: 1;">
        <div class="recent-content-title">最近作品</div>
        <div class="recent-content-textbox">
            <h3 class="recent-content-textbox-title">澄序课程表</h3>
            <h4 class="recent-content-textbox-subtitle">课程腕上抬手看</h4>
            <div class="recent-content-textbox-descbox">
                <p class="recent-content-textbox-descbox-text">由</p>
                <Image
                    src={astrobox_logo}
                    alt=""
                    class="recent-content-textbox-descbox-logo"
                    draggable="false"
                />
                <p class="recent-content-textbox-descbox-text">
                    驱动数据传输服务
                </p>
            </div>
            <a
                class="recent-content-textbox-link"
                href="https://astrobox.online/open?source=res&res=%E6%BE%84%E5%BA%8F%E8%AF%BE%E7%A8%8B%E8%A1%A8&provider=official"
                target="_blank">> 查看详情</a
            >
        </div>
    </div>

    <div class="recent-content">
        <Image
            src={recent_preview}
            alt=""
            class="recent-preview"
            draggable="false"
        />
    </div>

    <Image
        src={recent_products_light}
        alt=""
        fetchpriority="high"
        class="recent-back"
        draggable="false"
    />
</div>
<div class="container-works">
    <div class="works-title">Works.</div>
    <div class="works-content">
        <div class="works-content-line">
            <a
                class="works-content-line-card"
                style="width: 1076px; height: 318px;"
                href="https://gitee.com/waterflames-team/ring-robot-x"
                target="_blank"
            >
                <Image
                    src={card_rrx}
                    alt=""
                    class="works-content-line-card-img"
                    draggable="false"
                />
                <p class="works-content-line-card-title">RingRobotX</p>
                <Image
                    src={gogogo}
                    alt=""
                    class="works-content-line-card-go"
                    draggable="false"
                />
            </a>
            <a
                class="works-content-line-card"
                style="width: 524px; height: 318px;"
                href="https://gitee.com/waterflames-team/wing-kernel"
                target="_blank"
            >
                <Image
                    src={card_wing}
                    alt=""
                    class="works-content-line-card-img"
                    draggable="false"
                />
                <p class="works-content-line-card-title">Wing</p>
                <Image
                    src={gogogo}
                    alt=""
                    class="works-content-line-card-go"
                    draggable="false"
                />
            </a>
        </div>
        <div class="works-content-line">
            <a
                class="works-content-line-card"
                style="width: 800px; height: 318px;"
                href="https://gitee.com/waterflames-team"
                target="_blank"
            >
                <Image
                    src={card_gitee}
                    alt=""
                    class="works-content-line-card-img"
                    draggable="false"
                />
                <p class="works-content-line-card-title">Gitee</p>
                <Image
                    src={gogogo}
                    alt=""
                    class="works-content-line-card-go"
                    draggable="false"
                />
            </a>
            <a
                class="works-content-line-card"
                style="width: 800px; height: 318px;"
                href="https://github.com/waterflames-team"
                target="_blank"
            >
                <Image
                    src={card_github}
                    alt=""
                    class="works-content-line-card-img"
                    draggable="false"
                />
                <p class="works-content-line-card-title">Github</p>
                <Image
                    src={gogogo}
                    alt=""
                    class="works-content-line-card-go"
                    draggable="false"
                />
            </a>
        </div>
    </div>
</div>
<div class="container-footer">
    <p class="footer-text">To follow the light of infinite possibilities.</p>
    <div class="footer-text">
        © 2019-2025 WaterFlames.cn. All Rights Reserved.｜<a
            href="https://beian.miit.gov.cn/">闽ICP备2024035715号-1</a
        >｜<a href="https://www.12377.cn/">中国互联网违法和不良信息举报中心</a>
    </div>
</div>

<style>
    /* 基本元素样式定义 */
    a {
        text-decoration: none;
        color: #fff;
        outline: none;
        font-weight: 700;
    }
    div,
    a,
    p,
    h1,
    h2,
    h3,
    h4 {
        user-select: none;
    }
    /* Top 部分 */
    .container-top {
        position: relative;
        width: 100%;
        height: 900px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .top-content {
        position: absolute;
        top: 600px;
        right: 180px;
        color: #fff;
        font-family: ChillDINGothic, MiSans, "PingFang SC", "Source Han Sans CN",
            "Source Han Sans", sans-serif;
        text-align: right;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
        /* 添加动画效果 */
        animation: textFadeUpIn 1s cubic-bezier(0,.45,1,1) forwards;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0, 0.45, 1, 1);
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-name: textFadeUpIn;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
        
        /* 初始状态，配合动画使用 */
        opacity: 0;
        transform: translateY(50px);
    }
    .top-nav {
        position: absolute;
        top: 100px;
        left: 120px;

        display: inline-flex;
        align-items: center;
        gap: 60px;

        opacity: 0;
        animation: fadeIn 1s ease-in-out 0.1s forwards;
    }
    .top-nav a {
        color: #fff;
        font-family: ChillDINGothic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .top-logo {
        width: 203px;
        height: auto;
        /* height: 52.927px; */
    }
    .top-back {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        object-position: top;
        display: block;
        opacity: 0;
        animation: fadeIn 1s ease-in-out 0.1s forwards;
    }

    /* 最近作品部分 */

    .container-recent {
        position: relative;
        width: 100%;
        height: 900px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .recent-content {
        position: absolute;
        width: 1186px;
        height: 612px;

        /* 初始状态，配合动画使用 */
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    .recent-content.visible {
        /* 添加动画效果 */
        animation: textFadeUpIn 1s cubic-bezier(0,.45,1,1) forwards;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0, 0.45, 1, 1);
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-name: textFadeUpIn;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
        
        opacity: 1;
        /* transform: translateX(-50%) translateY(0); */
    }

    .recent-content-title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        color: #fff;
        text-align: center;
        font-family: ChillDINGothic;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        user-select: none;
    }

    .recent-content-textbox {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 478px;
        height: 414px;
        flex-shrink: 0;
    }

    .recent-content-textbox-title {
        position: absolute;
        bottom: 288px;
        right: 0;
        margin: 0 auto;

        font-family: MiSans;
        font-size: 95.305px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

        background: linear-gradient(
            90deg,
            #fff 0%,
            rgba(255, 255, 255, 0.7) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        user-select: none;
    }

    .recent-content-textbox-subtitle {
        position: absolute;
        bottom: 250px;
        right: 0;
        margin: 0 auto;

        font-family: MiSans;
        font-size: 35.739px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        background: linear-gradient(
            90deg,
            #fff 0%,
            rgba(255, 255, 255, 0.7) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        user-select: none;
    }

    .recent-content-textbox-descbox {
        position: absolute;
        bottom: 195px;
        right: 0;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-shrink: 0;
    }

    .recent-content-textbox-descbox-text {
        margin: 0 auto;
        color: #fff;
        text-align: right;
        font-family: MiSans;
        font-size: 26.805px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .recent-content-textbox-descbox-logo {
        align-self: center;
    }

    .recent-content-textbox-link {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 auto;

        text-align: right;
        font-family: MiSans, "PingFang SC", "Source Han Sans CN",
            "Source Han Sans", sans-serif;
        font-size: 26.805px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        background: linear-gradient(
            90deg,
            #fff 0%,
            rgba(255, 255, 255, 0.7) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .recent-preview {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .recent-back {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        object-position: top;
        display: block;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .recent-back.visible {
        opacity: 1;
    }

    /* 作品总览部分 */
    .container-works {
        display: flex;
        width: 1700px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin: 0 auto;

        /* 初始状态，配合动画使用 */
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }

    .container-works.visible {
        /* 添加动画效果 */
        animation: textFadeUpIn 1s cubic-bezier(0,.45,1,1) forwards;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0, 0.45, 1, 1);
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-name: textFadeUpIn;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
        
        opacity: 1;
    }

    .works-title {
        color: #fff;
        text-align: center;
        font-family: ChillDINGothic;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        user-select: none;
    }

    .works-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .works-content-line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .works-content-line-card {
        position: relative;
        border-radius: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
    }

    .works-content-line-card::before {
        /* 渐变边框层 */
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 48px;
        border: 2px solid transparent;
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0)
            )
            border-box;
        -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        z-index: 3;
    }

    .works-content-line-card::after {
        /* 内阴影层 */
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 48px;
        box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.25) inset;
        z-index: 2;
        pointer-events: none; /* 确保不影响鼠标事件 */
    }

    .works-content-line-card-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        margin: 0;
        text-align: center;

        color: #fff;
        text-align: right;
        font-family: ChillDINGothic;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        user-select: none;
    }

    .works-content-line-card-go {
        position: absolute;
        right: 30px;
        bottom: 30px;
        height: 30px;
        width: 30px;

        z-index: 2;
    }

    .works-content-line-card-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        max-height: 100%; /* 确保图片不会超出容器 */
        object-fit: contain; /* 保持图片比例 */
        border-radius: 48px; /* 与父容器圆角保持一致 */
    }

    /* 尾部片段 */

    .container-footer {
        display: flex;
        padding: 120px 0 40px 0;
        flex-direction: column;
        align-items: center;
        gap: 120px;

        /* 初始状态，配合动画使用 */
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }

    .container-footer.visible {
        /* 添加动画效果 */
        animation: textFadeUpIn 1s cubic-bezier(0,.45,1,1) forwards;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0, 0.45, 1, 1);
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-name: textFadeUpIn;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
        
        opacity: 1;
    }

    .footer-text {
        color: #fff;

        font-family: ChillDINGothic;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* 小屏电脑适配 */
    @media (min-width: 1000px) and (max-width: 1920px) {
    }

    /* 平板适配 */
    @media (min-width: 750px) and (max-width: 1000px) {
        .top-content {
            position: absolute;
            top: 600px;
            left: 120px;
            right: auto;
            text-align: left;
        }
    }

    /* 手机适配 */
    @media (max-width: 750px) {
        .container-top {
            top: -50px;
        }
        .top-content {
            position: absolute;
            top: 600px;
            left: 50px;
            right: 0;
            text-align: left;
            font-size: calc(20px + (48 - 20) * ((100vw - 300px) / (750 - 300)));
            /* font-size: calc(最小字体大小 + (字体变化范围) * ((当前视口宽度 - 最小宽度) / (宽度变化范围))); */
            font-weight: 700;
        }
        .top-nav {
            left: 50px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
        .top-nav a {
            font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (750 - 300)));
        }

        .top-logo {
            width: calc(180px + (203 - 180) * ((100vw - 300px) / (750 - 300)));
        }
    }

    /* 增加动画行为 */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes textFadeUpIn {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<script>
    // 创建 Intersection Observer 实例
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            // 当元素进入视口时，添加 visible 类
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
            }
        });
    }, {
        threshold: 0.2 // 当元素10%可见时触发
    });

    // 获取所有需要观察的元素
    const elements = document.querySelectorAll('.recent-back, .recent-content, .container-works, .container-footer');
    
    // 开始观察每个元素
    elements.forEach(element => {
        observer.observe(element);
    });
</script>
